



<div class="list-group">
    <div *ngFor="let driver of drivers" class="col">
      
        <div class="d-flex w-100 justify-content-between" [ngClass]="{'text-danger': isLicenseExpired(driver)}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ driver.name}}</h5> 
                    <small>
                    <button class="btn btn-primary" (click)="changeDriver(driver)">
                     Modify
                    </button>
         
                    </small>
            </div>
            
        </div>
        
        <div>
            <p class="mb-1">
                Születési idő: {{ driver.birthDate }} <span class="separator">|</span>
                Lakcím: {{ driver.address }} <span class="separator">|</span>
                Jogosítvány száma: {{ driver.licenseNumber }} <span class="separator">|</span>
                Jogosítvány lejárati dátuma: {{ driver.licenseExpirationDate }}
            </p>

           
            <hr>
            
      </div>
      
    
    
</div>

<div *ngIf="modifyForm" >
    
    <form #changeForm="ngForm" *ngIf="selectedDriver">
        <div class="form-group">
            <label>Név:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedDriver[0].name" name="name" pattern="^[a-zA-ZáÁéÉíÍóÓöÖőŐúÚüÜűŰ]{3,} [a-zA-ZáÁéÉíÍóÓöÖőŐúÚüÜűŰ]{3,}$" required>
            <small class="text-danger" *ngIf="changeForm.controls['name'].invalid">[pl. Kiss Sándor]</small>
        </div>
        <div class="form-group">
            <label>Születési idő:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedDriver[0].birthDate" name="birthDate" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" required>
            <small class="text-danger" *ngIf="changeForm.controls['birthDate'].invalid">[ÉÉÉÉ-HH-NN]</small>
        </div>
        <div class="form-group">
            <label>Lakcím:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedDriver[0].address" name="address" pattern="^[a-zA-ZáÁéÉíÍóÓöÖőŐúÚüÜűŰ ]+, [a-zA-ZáÁéÉíÍóÓöÖőŐúÚüÜűŰ ]+[0-9]+$" required>
            <small class="text-danger" *ngIf="changeForm.controls['address'].invalid">[pl. Szeged, Rózsadomb utca 8]</small>
        </div>
        <div class="form-group">
            <label>Jogosítvány száma:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedDriver[0].licenseNumber" name="licenseNumber" pattern="^[a-zA-Z]{3}[0-9]{6}$" required>
            <small class="text-danger" *ngIf="changeForm.controls['licenseNumber'].invalid">[pl. XYZ123]</small>
        </div>
        <div class="form-group">
            <label>Jogosítvány lejárati dátuma:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedDriver[0].licenseExpirationDate" name="licenseExpirationDate" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" required>
            <small class="text-danger" *ngIf="changeForm.controls['licenseExpirationDate'].invalid">[ÉÉÉÉ-HH-NN]</small>
        </div>
        <button class="btn btn-primary m-2"  (click)="saveDriverChanges(selectedDriver[0])">Mentés</button>
    </form>

</div>


