<div class="m-5">
    
    <H3>Trip Records</H3>

    <hr>
        
    <div *ngFor="let trips of tripsData">
        


        <div class="card m-2">
            <div class="card-body">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item flex-fill">Autó <hr>  {{ trips.car }}</li>
                    <li class="list-group-item flex-fill">Sofőr <hr> {{ trips.driver }}</li>
                    <li class="list-group-item flex-fill">Dátum  <hr>{{ trips.startDate }}</li>
                    <li class="list-group-item flex-fill">Utazás <hr> {{ trips.tripType }}</li>
                    <li class="list-group-item flex-fill">Indulás <hr> {{ trips.startPlace }}</li>
                    <li class="list-group-item flex-fill">Érkezés  <hr> {{ trips.endPlace }}</li>
                    <li class="list-group-item flex-fill">Megtett táv. <hr> {{ trips.distance }} km</li>
                    <li class="list-group-item flex-fill">Új kilóméteróra-állás <hr> {{ trips.newKm }} km</li>
                </ul>
                <div class="d-grid mt-3">
                    <button type="submit" class="btn btn-primary" (click)="changeTrip(trips)">Módosítás</button>
                </div>
            </div>
        </div>

    
    </div>






    <div *ngIf="isVisibleChangeForm">

        <h2>Modify Trips</h2>
        <hr>

        <form #changeForm="ngForm" *ngIf="selectedTrip" class="custom-form">
            <div class="form-group mb-4">
                <label for="carSelect">Autó kiválasztása:</label>
                <select class="form-control" id="carSelect" name="carSelect" [(ngModel)]="selectedTrip[0].car" required>
                    <option *ngFor="let car of carsData" [value]="car.car_type">{{ car.car_type }}</option>
                </select>
            </div>
        
            <div class="form-group mb-4">
                <label for="driverSelect">Sofőr kiválasztása:</label>
                <select class="form-control" id="driverSelect" name="driverSelect" [(ngModel)]="selectedTrip[0].driver" required>
                    <option *ngFor="let driver of availableDrivers" [value]="driver.name">{{ driver.name }}</option>
                </select>
            </div>
        
            <div class="form-group mb-4">
                <label for="startDate">Dátum:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedTrip[0].startDate" name="startDate" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" required>
                <small class="text-danger" *ngIf="changeForm.controls['startDate'].invalid">[ÉÉÉÉ-HH-NN]</small>
            </div>
        
            <div class="form-group mb-4">
                <label for="type">Utazás jellege:</label>
                <select class="form-control" id="type" name="type" [(ngModel)]="selectedTrip[0].tripType" required>
                    <option>Magán</option>
                    <option>Céges</option>
                </select>
            </div>
        
            <div class="form-group mb-4">
                <label for="startPlace">Indulás helye:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedTrip[0].startPlace" name="startPlace" pattern="^[a-zA-ZáÁéÉíÍóÓöÖőŐúÚüÜűŰ]{3,}$" required>
                <small class="text-danger" *ngIf="changeForm.controls['startPlace'].invalid">[Legalább 3 karakter ...]</small>
            </div>
        
            <div class="form-group mb-4">
                <label for="endPlace">Érkezés helye:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedTrip[0].endPlace" name="endPlace" pattern="^[a-zA-ZáÁéÉíÍóÓöÖőŐúÚüÜűŰ]{3,}$" required>
                <small class="text-danger" *ngIf="changeForm.controls['endPlace'].invalid">[Legalább 3 karakter ...]</small>
            </div>
        
            <div class="form-group mb-4">
                <label for="distance">Megtett távolság:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedTrip[0].distance" name="distance" pattern="^[0-9]{1,}$" required>
                <small class="text-danger" *ngIf="changeForm.controls['distance'].invalid">[Legalább 1 szám ...]</small>
            </div>
        
            <div class="form-group mb-4">
                <label for="newMileage">Új kilóméteróra-állás:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedTrip[0].newKm" name="newMileage" pattern="^[0-9]{1,}$" required>
                <small class="text-danger" *ngIf="changeForm.controls['newMileage'].invalid">[Legalább 1 szám]</small>
            </div>
        
            <button class="btn btn-primary" [disabled]="changeForm.invalid" (click)="saveTripChanges(selectedTrip[0])">Mentés</button>
        </form>
        
        
    
    </div>

</div>